
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script>

        $(document).ready(alert('it is working'));
    </script>
</head>
<body>
    <div> 
        Hello world
    </div>
</body>
</html>
